<?xml version="1.0"?>
<launch>

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find racecar_description)/urdf/racecar.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" required="true">
    <remap from="/joint_states" to="/selfie/joint_states" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find selfie_description)/data/rviz_config/f1tenth_view.rviz"/>
</launch>
