<?xml version="1.0"?>
<launch>
  <master auto="start"/>


  <node name="cmd_vel_to_ackermann_drive" pkg="robot_pkg" type="cmd_vel_to_ackermann_drive.py"/>

  <node name="drive_controller" pkg="robot_pkg" type="drive_controller.py"/>

  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>
</launch>
