<?xml version="1.0"?>
<launch>
  <master auto="start"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find robot_pkg)/maps/indoor.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/>


  <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find steer_bot_navigation)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find steer_bot_navigation)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find steer_bot_navigation)/cfg/carlike/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find steer_bot_navigation)/cfg/carlike/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find steer_bot_navigation)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

    <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
	</node>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find steer_bot_navigation)/cfg/amcl_params.yaml" command="load" />

	  <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

  <node pkg="teb_local_planner" type="cmd_vel_to_ackermann_drive.py" name="cmd_vel_to_ackermann_drive_conv" output="screen">
    <remap from="ackermann_cmd" to="sim_drive"/>
  </node>

  <!--node pkg="tf" type="static_transform_publisher" name="hokuyo_link_chassis_broadcaster"
      args="0 0 0 0 0 0 steer_bot/hokuyo_link chassis 100"/-->

  <!-- teb local planner-->
  <!--node pkg="teb_local_planner" type="teb_local_planner" name="teb_local_planner" output="screen">
    <topic
  </node-->

</launch>
