<?xml version="1.0"?>

<model>
  <name>f1tenth_model</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Marcel Kaliński</name>
    <email>marcelos.kalinski@gmail.com</email>
  </author>

  <description>
    f1tenth competition track model
  </description>
</model>
