<launch>
  	<!-- Launch Velodyne Node -->
  	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

	<!-- Launch Realsense T265 Node -->
 	<include file="$(find realsense2_camera)/launch/rs_t265.launch" />

	<node pkg="topic_tools" type="throttle" name="image_throttle" args="messages /camera_t265/fisheye1/image_raw 4.0 /camera_t265/image_throttled"/>

	<node pkg="tf" type="static_transform_publisher" name="base_to_velodyne" args="-0.12 0 0.15 0 0 0 base_link velodyne 10"></node>

	<node pkg="tf" type="static_transform_publisher" name="base_to_t265" args="0.03 0 -0.11 0 0 0 camera_t265_pose_frame base_link 10"></node>
</launch>
