<?xml version="1.0"?>
<launch>

  <include file="$(find selfie_gazebo)/launch/racecar.launch">
<!--    <arg name="world_name" value="carollo_track_v1"/> -->
        <arg name="world_name" value="easy_track2"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find selfie_description)/data/rviz_config/camera_laser_view.rviz"/>


<!--
input topic = /sim_drive  -> AckermannDriveStamped
output topic = /drive ->  AckermannDriveStamped
steering:
'wsad' ->  forward, backwards, left, right
'space' ->  steering mode (manual, semi-automat, full-automat)  READ CONSOLE !!
'f' ->  drive/stop  READ CONSOLE as well.


works in the background, so signals will be send if u dont quit the program
QUIT app if you want to stay in one place
-->
  <node name="sim_manager" pkg="selfie_sim_control" type="sim_manager.py" output="screen"/>

</launch>
