<launch>
 <arg name="model" default="$(find selfie_description)/urdf/weed_bot.urdf"/>
  <arg name="rvizconfig" default="$(find selfie_race)/rviz/weed_bot.rviz" />
  <arg name="gui" default="false" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Launch Velodyne Node -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

<node pkg="tf" type="static_transform_publisher" name="laser_to_velodyne2" args="0 0 0 0 0 0 laser velodyne 10"></node>

<!-- Launch Realsense T265 Node -->
  <include file="$(find realsense2_camera)/launch/rs_t265.launch" />
<node pkg="tf" type="static_transform_publisher" name="t265_to_base" args="0 0 0 0 0 0 camera_t265_pose_frame base_link 10"></node>


</launch>
