<?xml version="1.0"?>

<model>
  <name>basic_track_model</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Rafal Litka</name>
    <email>omegalul927@gmail.com</email>
  </author>

  <description>
    carolo cup basic cup track model
  </description>
</model>
