<?xml version="1.0"?>
<launch>
  <node pkg="xacro" name="xacro_conversion" type="xacro.py" args="--inorder -o selfie.urdf $(find selfie_description)/urdf/selfie.xacro" />

  <include file="$(find selfie_gazebo)/launch/selfie.launch">
<!--    <arg name="world_name" value="carollo_track_v1"/> -->
        <arg name="world_name" value="cali_mat"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find selfie_description)/data/rviz_config/camera_laser_view.rviz"/>
<!--  <node pkg="selfie_race" name="control_node" type="control.py" output="screen"/>
//  <node pkg="selfie_race" name="sim_connector_node" type="sim_connector.py"/>
    <node pkg="selfie_race" name="levine_demo_node" type="levineDemo.py"/>
-->
</launch>
